aniso8601==1.2.1
beautifulsoup4==4.6.0
click==6.7
Flask==0.12.2
Flask-BasicAuth==0.2.0
Flask-RESTful==0.3.5
futures==3.1.1
goslate==1.5.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
pronouncing==0.1.5
PyDictionary==1.5.2
python-dateutil==2.6.0
pytz==2017.2
requests==2.14.2
six==1.10.0
Werkzeug==0.12.2
